// Colors
$theme-color-primary: #aac6fc;
$theme-color-secondary: #f6e049;
$theme-color-tertiary: #e0719e;
$theme-color-tertiary-light: #eebed3;

.elem {
    &__triggers {
        margin-top: 14rem;

        display: flex;
        grid-column-gap: 2rem;
        justify-content: center;
    }

    &__container {
        margin-top: 7rem;
        border-radius: 1.5rem;
        padding: 2rem;
        background-color: #f2f2f4;
        display: none;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75%;
    }
    
    &__active {
        display: block;
    }
}
